* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  width: 80%;
  height: 100%;
}

#right-menu {
  float: right;
  width: 20%;
  height: 100%;
}

.wrap {
  overflow: scroll;
}